Language:                        Cpp
BasedOnStyle:                    Google
IndentWidth:                     4
UseTab:                          Never
TabWidth:                        4
AccessModifierOffset:            -4
AlignAfterOpenBracket:           true
AlignConsecutiveAssignments:     true
AlignConsecutiveDeclarations:    true
AlignEscapedNewlines:            Left
AlignOperands:                   true
AlignTrailingComments:           true

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine:   false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine:    false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments:                true
BinPackParameters:               true
BreakBeforeBinaryOperators:      None
BreakBeforeTernaryOperators:     true
BreakConstructorInitializersBeforeComma: false
ColumnLimit:                     100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment:          false